body {
  background-color: #666;
  margin: 15px 25px;
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  background-color: #FFF;
  border: 10px solid #CCC;
  padding: 10px 10px 20px 10px;
}

#notification {
  border: 5px solid #9C9;
  background-color: #CFC;
  padding: 5px;
  margin: 10px 0;
}

.fieldWithErrors {
  border: 5px solid #F66;
}  